@import "tailwindcss";


:root {
  --bg: #f3f4f6;        
  --card: #ffffff;
  --text: #111827;      
  --muted: #6b7280;     
  --border: #000000;    
}

/* 🌙 DARK THEME */
[data-theme="dark"] {
  --bg: #0f172a;        
  --card: #1e293b;      
  --text: #f9fafb;      
  --muted: #9ca3af;     
  --border: #374151;    
}

body{
 background-color: var(--bg);
}